body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#container { 
    position: relative;
}

#header-logo img {
    width: 70px;
}

#header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

#header {
    background-color: #232323;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    position: sticky;
    width: 100%;
}

#header-text {
    color: green;
    font-size: 3rem;
    font-family: 'MyCursive';
}

#header-left {
    width: 500px;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#header-logo:hover,
#header-home:hover,
#header-menu:hover,
#header-contact:hover {
    cursor: pointer;
}

@font-face {
    font-family: 'MyCursive';
    src: url('./fonts/CedarvilleCursive-Regular.ttf') format('truetype');
}


#footer {
    width: 100%;
    background-color: #001b01;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

#footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    gap: 10px;
}

#footer-img {
    height: 30px;
}

#left-side {
    width: 50%;
}

#home-content #left-side {
    background: url('./images/homeWallpaper.jpg') no-repeat left;
    background-size: cover;
}

#menu-content #left-side {
    background: url('./images/menuWallpaper.jpg') no-repeat left;
    background-size: cover;
}

#right-side {
    width: 50%;
    min-width: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 0px 20px 5px;
    overflow-y: auto;
}

#info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 5px;
}

#home-title,
#menu-title {
    color: #004101;
    font-size: 4rem;
    font-family: 'MyCursive';
}

#home-text {
    color: #004101;
    font-size: 1.5rem;
    font-style: italic;
    padding-bottom: 50px;
}

#home-caption {
    font-style: italic;
    color: #003101;
}

#home-content,
#contact-content,
#menu-content {
    height: calc(100vh - 150px);
    width: 100%;
    display: flex;
}

#home-pic {
    width: 500px;
}

#top-home-border,
#bottom-home-border {
    background: url('./images/squiggleLarge.png') repeat;
    width: 100%;
    min-height: 65px;
}

#bottom-home-border {
    margin-top: 20px;
}

#contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px 5px 20px 5px;
}

#menu-title {
    display: flex;
    align-items: center;
    height: 90px;
}

#menu-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.burger {
    width: 100%;
    min-height: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    font-style: italic;
    padding-left: 20px;
    box-sizing: border-box;
}

.burger .title {
    font-size: 1.8rem;
}

.burger img {
    height: 90%;
}

.burger .right {
    display: flex;
    color: #004101;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    font-size: 1.2rem;
    white-space: nowrap;
}

#contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #004101;
    font-style: italic;
    font-size: 1.5rem;
}

#contact-title {
    font-size: 2.5rem;
}

#contact-title,
#contact-address-header,
#contact-number-header,
#contact-email-header,
#contact-hours-header {
    font-weight: bold;
}

#contact-address,
#contact-number,
#contact-email,
#contact-hours {
    padding-left: 20px;
    padding-bottom: 10px;
}

#main-content {
    height: calc(100vh - 150px);
}

@media (max-width: 950px) {
    #contact-box {
        flex-direction: column;
    }

    #google-map iframe {
        width: 75vw;
    }
}

@media (max-width: 680px) {

    #home-content #left-side {
        height: 20vh;
        width: 100%;
    }

    #menu-content #left-side {
        height: 40vh;
        width: 100%;
    }

    #home-content,
    #menu-content {
        flex-direction: column;
    }

    #right-side {
        min-width: 100%;
        padding-left: 0px;
        overflow-x: hidden;
    }

    #info-box {
        width: 90%;
    }

    #header {
        font-size: 1.3rem;
        padding: 0px 5px 0px 0px;
    }

    #header-left {
        gap: 0px;
    }

    #header-text {
        font-size: 2rem;
    }

    #home-pic {
        width: 90%;
    }

    #home-title {
        font-size: 3rem;
    }

    .burger {
        flex-direction: column;
        height: auto;
        padding-left: 0px;
    }

    .burger .img {
        height: 270px;
        padding-bottom: 10px;
    }

    #top-home-border,
    #bottom-home-border {
        margin-left: 5px;
        height: 65px;
    }

    .burger .right {
        margin-bottom: 20px;
    }

    #contact-info {
        width: 90%;
    }

    #contact-box {
        padding-top: 20px;
        gap: 20px;
    }

    #contact-content {
        overflow-y: auto;
        overflow-x: hidden;
    }
}